:root{
    --main-color:#FF5722;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* setting box */
.setting-box{
    position: fixed;
    background-color: #fff;
    min-height: 100vh;
    z-index: 4;
    width: 200px;
    left: -200px;
}
.setting-box .toggle-icon{
    position: absolute;
    background-color: #fff;
    right: -32px;
    top: 100px;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.setting-box.open{
    left: 0;
}

.setting-box .setting-container{
    padding: 24px;
    text-align: center;
    margin-top: 50px;
}

.setting-box .setting-container .colours ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.setting-box .setting-container .colours h2{
    margin-bottom: 20px;
}
.setting-box .setting-container .colours li{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}
.setting-box .setting-container .colours li.active{
    opacity: 1;
}
.setting-box .setting-container .colours li:first-child{
    background-color: #FF5722;

}
.setting-box .setting-container .colours li:nth-child(2){
    background-color: #9C27B0;

}
.setting-box .setting-container .colours li:nth-child(3){
    background-color: #2196F3;

}
.setting-box .setting-container .colours li:nth-child(4){
    background-color: #009688;

}
.setting-box .setting-container .colours li:last-child{
    background-color: #8BC34A;

}
/* setting box */
/* start langing page */
.landing-page{
    min-height: 100vh;
    background-image: url(/imgs/01.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%; 
    z-index: 1;
}
.landing-page .header-area{
    position: relative;
    color: #fff;
    display: flex;
    z-index: 2;
    align-items: center;
    font-weight: bold;
    padding: 15px 20px;
}
.landing-page .header-area .logo{
    width: 300px;
    font-size: 20px;
}

.landing-page .header-area .links{
    list-style: none;
    width: 100%;
    text-align: right;
}
.landing-page .header-area ul li{
    display: inline-block;
    margin-left: 15px ;
}
.landing-page .header-area ul li a{
    color: #fff;
    transition: 0.3s;
}
.landing-page .header-area ul li a:hover,
.landing-page .header-area ul li a.active{
    color: var(--main-color);
}
.landing-page .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.landing-page .intro-text h1{
    line-height: 1.7;
    font-size: 40px;
    margin-bottom: 0;
}
.landing-page .intro-text h1 span{
color: var(--main-color);
}
/* end langing page */